[target.thumbv7em-none-eabihf]
# 使用 probe-rs 下载并运行（推荐）
runner = "probe-rs run --chip STM32H743IITx"

# 或使用 pyocd
# runner = ["cmd", "/c", "flash.bat"]

rustflags = [
  "-C", "link-arg=-Tlink.x",
]

[build]
target = "thumbv7em-none-eabihf"
